@charset "utf-8";

*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* .header {
  width: 100%;
  position: fixed;
  background-color: aqua;
} */

.header-inner {
  width: 100%;
  position: fixed;
  background-color: aqua;
  display: flex;
}

.list {
  padding: 10px;
  display: flex;
}

.list-item {
  margin: 10px;
  background-color: ivory;
}

main {
  min-height: 1080px;
  padding-top: 60px;
  background-image: url("/images/leek.png");
  background-size: cover;
  background-position: center;
}


.footer {
  background-color: blue;
  /* width: 100%; */
  /* position: fixed;
  bottom: 0; */
}

.footer .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

